.DS_Store
node_modules/
bower_components/
libpeerconnection.log

src/libs/vendors/
src/styles/vendors/
src/img/vendors/
src/fonts/vendors/
src/views/vendors/

test/vendors/
src/index.html
public/
.temp/
.idea/
.test/
config.js
.sass-cache/

*.sublime-project
*.sublime-workspace