<h1>Словарь переводов буддийских терминов</h1>
<p>
<em>Дорогие друзья!</em>
</p>
<p>
Сегодня в России имеет хождение большое количество буддийских текстов, и публикуются новые и новые книги,
выкладываются Интернет-публикации, звучат устные переводы лекций. В 1990-м году, когда вышла в свет первая
собственно буддийская (не научная, буддологическая) книга – тонкая брошюра "Буддизм Тибета" Далай-ламы,
трудно было даже представить, как быстро и широко пойдет этот процесс.
И вместе с тем мы оказываемся очевидцами зарождающегося русского буддийского языка и российской буддийской культуры.
Однако для читателей буддийских книг этот период – это, в определенном смысле, и период испытаний.
Ведь русский буддийский язык еще не сложился, он отнюдь не так уж хорош и красив, до сих пор полон непереведенных слов
из санскрита и тибетского. И главное, он далек от терминологического единообразия. Разные переводчики используют разные
русские слова для перевода терминов, - и читатели порой с трудом догадываются, как соответствуют слова одного текста словам
другого, если переводы этих текстов делались разными переводчиками.
Наш проект посвящен именно этой проблеме – представлению буддийской терминологии в разнообразии ее переводов на русский язык.
Кроме того, что создаваемый Интернет-ресурс будет предназначаться для вдумчивых читателей буддийских книг, он еще может и
должен стать ресурсом и площадкой разработки русского буддийского языка для самих переводчиков.
</p>
<p>
Дорогие друзья, нам важно и интересно ваше мнение: насколько полезно появление такого ресурса, с вашей точки зрения?
И главное, мы приглашаем всех заинтересованных к поддержке и к участию в проекте в качестве волонтеров!
В первую очередь, подразумевается набор терминологии ряда активно работающих по проблеме разработки терминологии переводчиков.
Потребуются организационные усилия, набор текстов, программирование и т.д.
</p>
<p>
С уважением,
</p>
<p>
Команда разработчиков
</p>
