<div ng-controller="homeController">
	<div class="row">
		<div class="col-md-12 text-right">
			  <a href="" ng-click="toggleAbout()">О проекте</a>
		</div>
	</div>

	<div class="row search-row">
		<div class="col-md-6 col-md-offset-3">
			<form>
				<div class="form-group form-group-search">
					<input class="form-control" type="search" placeholder="Search"
					       ng-model="searchPattern"
					       ng-change="search()"
					       ng-model-options="{ debounce: {'default': 300, 'blur': 0} }">
				</div>
			</form>
		</div>
	</div>

	<div class="row about-row" ng-show="showAboutInfo">
		<div class="about" ng-include="'views/_about.html'"></div>
	</div>

	<div class="row search-results-row" ng-hide="showAboutInfo">
		<div class="col-md-2">
			<div class="list-group scroll-terms-list">
			  <a href="" class="list-group-item" ng-repeat="t in terms" ng-click="showTerm($index)">{{t.wylie}}</a>
			</div>
		</div>

		<div class="col-md-10">
			<div class="term" ng-show="currentTerm != null">
				<!--div ng-include="'views/_term.html'"></div-->
				<h1>{{currentTerm.wylie}}</h1>
				<h3>Санскрит: {{currentTerm.sanskrit}}</h3>
				<div class="wrap-wikilink">
				  <a href="{{currentTerm.wikipedia}}" class="wikilink">wiki</a>
				</div>
				<ul class="translations-list">
				  <li class="translation" ng-repeat="t in currentTerm.translations" ng-init="translatorIndex = $index">
				    <div class="wrap-translator-ref">
				      <a href="" class="translator-ref">{{t.translator}}</a>
				    </div>
				    <ol ng-class="{'single-item': t.meanings.length==1}">
				      <li class="meaning" ng-repeat="m in t.meanings">
				        <span ng-repeat="v in m.versions">{{v.rus}}{{$last ? '' : ($index==v.length-2) ? ' and ' : '; '}}</span>
								<span class="glyphicon glyphicon-comment" aria-hidden="true" ng-mouseover="showComment(translatorIndex,$index)" ng-mouseleave="hideComment(translatorIndex,$index)" ng-show="m.comment"></span>
								<span id="{{'comment-'+translatorIndex+'-'+$index}}" class="translation-comment hidden">{{m.comment}}</span>
				      </li>
				    </ol>
				  </li>
				</ul>
			</div>

			<div class="subTerms" ng-show="currentTerm.subTerms">
				<ul class="subterms-list" ng-repeat="st in currentTerm.subTerms">
					<li class="subterm">
						<!--div ng-include="'views/_term.html'"></div-->
						<h1>{{st.wylie}}</h1>
						<h3>Санскрит: {{st.sanskrit}}</h3>
						<div class="wrap-wikilink">
						  <a href="{{st.wikipedia}}" class="wikilink">wiki</a>
						</div>
						<ul class="translations-list">
						  <li class="translation" ng-repeat="t in st.translations">
						    <div class="wrap-translator-ref">
						      <a href="" class="translator-ref">{{t.translator}}</a>
						    </div>
						    <div class="translation-comment" ng-show="t.comment">Комментарий переводчика: {{t.comment}}</div>
						    <ol ng-class="{'single-item': t.meanings.length==1}">
						      <li class="meaning" ng-repeat="m in t.meanings">
						        <span ng-repeat="v in m.versions">{{v.rus}}{{$last ? '' : ($index==v.length-2) ? ' and ' : ', '}}</span>
						      </li>
						    </ol>
						  </li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
</div>
