//@import "variables.less";
//@import "mixins.less";

/*globals*/
body {
  padding-top: 20px;
}

.container {
}

/*!globals*/

.search-row {
  margin-bottom: 20px;
}

.term {
  h1 {
      margin-top: 0px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: black;
  }
}

.scroll-terms-list {
  max-height: calc(~"100vh - 100px");
  overflow: auto;
}
