@import "variables.less";
@import "mixins.less";
@import "icomoon-glyphs.less";
@import "fonts.less";
@import "navbar.less";

body {
  padding-top: 20px;
}

.container {
  font-family: Calibri;
}

.header-row {
  text-align: left;
  color: @green;
  h1 {
    font-family: PentaLight;
    em {
      font-family: PentaBold;
      font-style: normal;
    }
  }
}

.search-row {
  margin-bottom: 20px;
}

#searchButton {
  background-color: @grayLight;
}

.scroll-terms-list {
  max-height: calc(~"100vh - 100px");
  overflow: auto;
}

.list-group-item {
  background-color: @gray;
  .active {
    background-color: @grayLight;
  }
}

.about {
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
}
.term {
  .term-header {
    color: @white;
    background-color: @green;
    padding: 5px 0 5px 0;
  }

  .wylie {
      font-size: 20px;
      font-weight: bold;
      margin-top: 0px;
      text-align: center;
  }

  .sanskrit {
      font-size: 14px;
      font-weight: normal;
      margin-top: 0px;
      text-align: center;
  }

  ul {
    list-style-type: none;
    margin-top: 10px;
  }

  ol li {
    font-weight: bold;
  }

  .wrap-wikilink {
    text-align: center;
    font-size: 12px;
  }
}

.single-item {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}


.translations-list {
  padding-left: 0px;

  .translation {
    border-bottom: 1px hsl(0,0%,75%) solid;
    border-radius: 0px;
    font-size: 14px;
    padding: 0px 0px 15px 0px;
    margin-top: 5px;

    .meanings {
      padding-left: 20px;
    }

    .commentLink {
      color: @green;
    }

    .translation-comment {
      font-size: 12px;
      font-weight: normal;
      font-style: italic;
    }

    .wrap-translator-ref {
      text-align: right;
      padding-bottom: 5px;

      a {
        color: @green;
      }
    }
  }
}

.hidden {
  display: none;
}
